<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Home/images/company_logo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Home/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Cars/css/view_cars_users.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="{{ url_for('static', filename='Cars/javascript/ajax.js')}}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title> View Cars </title>
</head>
<body>
    <nav class="main-nav" id="main-nav">
        <nav class="left-nav">
            <a class="home" href="/"> HOME </a>
            <a class="about" href=""> ABOUT </a>
            <a class="services" href=""> SERVICES </a>
            <a class="accessories" href=""> ACCESSORIES </a>
            <a class="cars" href="/api/cars"> CARS </a>

        </nav>
        <nav class="right-nav">
            <a class="signin" href="/signin"> PROFILE </a>
            <a class="signout" href="/signout"> SIGNOUT </a>
            <input type="text" class="search-value" id="search-value" placeholder="Search"> 
            <input type="button" value="Search Car" class="search-car" id="search-car">
        </nav>
    </nav>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- Adidng the result div -->
            <div class="result-div" id="result-div"> </div>
        </div>
    </div>

    <!-- Adding the main div -->
    <section>
        <section class="first-div" id="first-div">
            {% if result %}
                {% for value in result %}
                    <div class="display-cars" id="display-cars">
                        <div class="image-div">
                            <img src="{{ value[8] }}"  class="image-data" alt=""> 
                        </div>

                        <div class="car-prop-div">
                            <h3 class="model"> {{ value[4] }} </h3>
                            <h3 class="version"> {{ value[3] }} {{ value[5] }} </h3>
                            <h4> Price: {{ value[7] }}</h4>
                            <h5> Date Uploaded: {{ value[2] }} </h5>
                            <p class="car-description"> 
                                {{ value[6] }}
                            </p>

                            <div class="button-div"> 
                                <button class="view-car" id="{{ value[7] }}" onclick="viewCar('{{ value[8] }} ')"> View Car </button>
                                <button class="delete-car" id="{{ value[7] }}" onclick="deleteCar('{{ value[8] }}')"> Delete Car </button> 
                            </div>
                        </div>


                    </div>
                {% endfor %}
            
            {% else %}
                <p class="no-car-data"> No Car data found! </p>

                <style>
                    .first-div {
                        height: 53px; 
                        
                    }
                    .first-div::-webkit-scrollbar-track {
                        border: 1px solid rgb(251, 251, 251);
                        padding: 2px 0;
                        background-color: #fbfbfb;
                    }

                    .first-div::-webkit-scrollbar {
                        width: 10px;
                    }

                    .first-div::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                        background-color: #f8f8f8;
                        border: 0px; 
                    }
                </style>
            {% endif %}
        


        </section>
        <!-- Adding the display car image div -->
        
    </section>

    

     <!-- Adding footer -->
     <footer class="footer">
        <footer class="first-footer">
            <ul>
                <li> <b> CONTACT </b> </li>
                <li> 
                    Street 2017 Harron Drive <br> 
                    City Baltimore <br> 
                    State Full Maryland <br> 
                    Zip Code 21201 <br> 
                    Phone Number: 443-498-7166 <br> 
                    Mobile Number: 443-934-9384. 
                </li>
            </ul>
        </footer>
        <footer class="second-footer">
            <ul>
                <li> 
                    <b>  About Us  </b>
                </li>
                <li> <a href=""> About Us </a> </li>
                <li> <a href=""> Careers </a> </li>
                <li> <a href=""> Press Room </a> </li>
                <li> <a href=""> Terms of Use </a> </li>
                <li> <a href=""> Privacy </a> </li>
                <li> <a href=""> Patient Rights </a> </li>
                <li> <a href=""> International </a></li>
            </ul>
        </footer>
        <footer class="third-footer">
            <ul>
                <li> 
                    <b> <a href=""> CUSTOMER CARE </a> </b>
                </li>
                <li> <a href=""> Contact Us </a> </li>
                <li> <a href=""> Endless FAQs </a> </li>
                <li> <a href=""> Customers FAQs </a> </li>
                <li> <a href=""> Shipping </a> </li>
                <li> <a href=""> Our Blog </a> </li>
                <li> <a href=""> Pricing </a></li>
                <li> <a href=""> Car Frames </a></li>
                
            </ul>

        </footer>
        <footer class="fourth-footer">
            <ul>
                <li> 
                    <b> <a href=""> Top Collections </a> </b>
                </li>
                <li> <a href=""> Round </a> </li>
                <li> <a href=""> Square </a> </li>
                <li> <a href=""> Cat Eye </a> </li>
                <li> <a href=""> Aviator </a> </li>
                <li> <a href=""> Wayferer </a> </li>
                <li> <a href=""> Oversized </a></li>
                <li> <a href=""> Mirrored Sunglasses </a></li>
                <li> <a href=""> Sample Sale </a></li>
                
            </ul>

        </footer>
        <footer class="fifth-footer">
            <ul>
                <li> <b> NEWSLETTER </b></li>
                <li> 
                    <input type="email" placeholder="Your email address" class="email"> 
                </li>
            </ul>
        </footer>

    </footer>

    <!-- Adding javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='Cars/javascript/view_cars_users.js')}}"></script>
</body>
</html>