<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Home/images/company_logo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Home/css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title> View Cars </title>
</head>
<body>
    <nav class="main-nav" id="main-nav">
        <nav class="left-nav">
            <a class="home" href="/"> HOME </a>
            <a class="about" href=""> ABOUT </a>
            <a class="services" href=""> SERVICES </a>
            <a class="accessories" href=""> ACCESSORIES </a>
            <a class="cars" href="/api/cars"> CARS </a>

        </nav>
        <nav class="right-nav">
            <a class="signin" href="/signin"> PROFILE </a>
            <a class="signout" href="/signout"> SIGNOUT </a>
            <input type="text" class="search-value" id="search-value" placeholder="Search"> 
            <input type="button" value="Search Car" class="search-car" id="search-car">
        </nav>
    </nav>

    <h4> View Cars Route </h4>
    
</body>
</html>