<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Home/images/company_logo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Home/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Cars/css/view_cars.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="{{ url_for('static', filename='Cars/javascript/ajax.js')}}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title> View Cars </title>
</head>
<body>
    <nav class="main-nav" id="main-nav">
        <nav class="left-nav">
            <a class="home" href="/"> HOME </a>
            <a class="about" href=""> ABOUT </a>
            <a class="services" href=""> SERVICES </a>
            <a class="accessories" href=""> ACCESSORIES </a>
            <a class="cars" href="/api/cars"> CARS </a>

        </nav>
        <nav class="right-nav">
            <a class="signin" href="/signin"> PROFILE </a>
            <a class="signout" href="/signout"> SIGNOUT </a>
            <input type="text" class="search-value" id="search-value" placeholder="Search"> 
            <input type="button" value="Search Car" class="search-car" id="search-car">
        </nav>
    </nav>

    <!-- Adding the main div -->
    <section>
        <div class="first-div">
            <div class="display-cars" id="display-cars">
                <div class="image-div">
                    <img class="image-data" src="/static/Uploads/08-05-2022-15:58:59.jpg" alt="" srcset="">
                </div>
                <div class="car-prop-div">
                    <h3 class="model"> Model V8-546 </h3>
                    <h3 class="version"> Version 899dkdk </h3>
                    <p class="car-description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima ullam exercitationem dolorum numquam impedit similique, ipsam necessitatibus ex sunt maiores 
                        voluptas? Nesciunt ullam suscipit excepturi maxime ipsa eius.
                    </p>
                    <div class="button-div">
                        <button class="view-car"> View Car </button>
                        <button class="delete-car" id="delete-car"> Delete </button>
                    </div>
                </div>
            </div>

            <div class="display-cars" id="display-cars">
                <div class="image-div">
                    <img class="image-data" src="/static/Uploads/08-05-2022-15:58:59.jpg" alt="" srcset="">
                </div>
                <div class="car-prop-div">
                    <h3 class="model"> Model V8-546 </h3>
                    <h3 class="version"> Version 899dkdk </h3>
                    <p class="car-description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima ullam exercitationem dolorum numquam impedit similique, ipsam necessitatibus ex sunt maiores 
                        voluptas? Nesciunt ullam suscipit excepturi maxime ipsa eius.
                    </p>
                    <div>
                        <button class="view-car"> View Car </button>
                        <button class="delete-car" id="delete-car"> Delete </button>
                    </div>
                </div>
            </div>

            <div class="display-cars" id="display-cars">
                <div class="image-div">
                    <img class="image-data" src="/static/Uploads/08-05-2022-15:58:59.jpg" alt="" srcset="">
                </div>
                <div class="car-prop-div">
                    <h3 class="model"> Model V8-546 </h3>
                    <h3 class="version"> Version 899dkdk </h3>
                    <p class="car-description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis illum minima ullam exercitationem dolorum numquam impedit similique, ipsam necessitatibus ex sunt maiores 
                        voluptas? Nesciunt ullam suscipit excepturi maxime ipsa eius.
                    </p>
                    <div>
                        <button class="view-car"> View Car </button>
                        <button class="delete-car" id="delete-car"> Delete </button>
                    </div>
                </div>
            </div>


        </div>
        <!-- Adding the display car image div -->
        
    </section>

    

     <!-- Adding footer -->
     <footer class="footer">
        <footer class="first-footer">
            <ul>
                <li> <b> CONTACT </b> </li>
                <li> 
                    Street 2017 Harron Drive <br> 
                    City Baltimore <br> 
                    State Full Maryland <br> 
                    Zip Code 21201 <br> 
                    Phone Number: 443-498-7166 <br> 
                    Mobile Number: 443-934-9384. 
                </li>
            </ul>
        </footer>
        <footer class="second-footer">
            <ul>
                <li> 
                    <b>  About Us  </b>
                </li>
                <li> <a href=""> About Us </a> </li>
                <li> <a href=""> Careers </a> </li>
                <li> <a href=""> Press Room </a> </li>
                <li> <a href=""> Terms of Use </a> </li>
                <li> <a href=""> Privacy </a> </li>
                <li> <a href=""> Patient Rights </a> </li>
                <li> <a href=""> International </a></li>
            </ul>
        </footer>
        <footer class="third-footer">
            <ul>
                <li> 
                    <b> <a href=""> CUSTOMER CARE </a> </b>
                </li>
                <li> <a href=""> Contact Us </a> </li>
                <li> <a href=""> Endless FAQs </a> </li>
                <li> <a href=""> Customers FAQs </a> </li>
                <li> <a href=""> Shipping </a> </li>
                <li> <a href=""> Our Blog </a> </li>
                <li> <a href=""> Pricing </a></li>
                <li> <a href=""> Car Frames </a></li>
                
            </ul>

        </footer>
        <footer class="fourth-footer">
            <ul>
                <li> 
                    <b> <a href=""> Top Collections </a> </b>
                </li>
                <li> <a href=""> Round </a> </li>
                <li> <a href=""> Square </a> </li>
                <li> <a href=""> Cat Eye </a> </li>
                <li> <a href=""> Aviator </a> </li>
                <li> <a href=""> Wayferer </a> </li>
                <li> <a href=""> Oversized </a></li>
                <li> <a href=""> Mirrored Sunglasses </a></li>
                <li> <a href=""> Sample Sale </a></li>
                
            </ul>

        </footer>
        <footer class="fifth-footer">
            <ul>
                <li> <b> NEWSLETTER </b></li>
                <li> 
                    <input type="email" placeholder="Your email address" class="email"> 
                </li>
            </ul>
        </footer>

    </footer>

    <!-- Adding javascript -->
    <script src="{{ url_for('static', filename='Cars/javascript/view_cars.js')}}"></script>
</body>
</html>