* {
    margin: 0; 
    padding: 0; 

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 43px;
}
.first-div {
    /* background-color: black;
    border: 5px solid red; */
    overflow-y: scroll;
    margin: auto;
    width: 96%;
    height: 1503px;
    margin-top: 135px;
    margin-bottom: 400px;
}
.no-car-data {
    height: 40px;
    background-color: #f9a2a2;
    width: 45%;
    padding-top: 13px;
    padding-left: 27px;
    color: #722121;
    border-radius: 5px;
    font-weight: bold;
}
.first-div::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
}

.first-div::-webkit-scrollbar {
    width: 10px;
}

.first-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 3px solid rgb(80, 80, 80);
}
.display-cars {
    margin: auto;
    margin-top: 53px;
    height: 627px;
    width: 96%;
    display: flex;
    border-radius: 9px;
    justify-content: space-around;

}
.image-data {
    width: 93%;
    height: 332px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 80px;
    border-top-left-radius: 26px;
    box-shadow: 0px 1px 14px -2px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 42px;
}

.car-prop-div {
    height: 343px;
    width: 48%;
    /* margin: auto; */
    padding-left: 20px;
    color: black; 
    margin-top: 0px;
    padding-top: 20px;
    padding-right: 20px;
}
.model {
    font-size: 49px; 
}
.version {
    font-size: 30px; 
    margin-bottom: 20px; 
}
.car-description {
    font-size: 14px; 

}
.image-div {
    height: 362px;
    width: 43%;
    padding-top: 18px;
    /* border: 2px solid white; */
    padding-left: 14px;
    
}
.button-div {
    margin-top: 30px; 
}
.view-car {
    height: 47px;
    width: 155px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: white;
}
.delete-car {
    height: 47px;
    width: 185px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #952c2c;
    color: white;
}
.first-div-cars {
    border: 4px solid red;
    /* overflow-x: scroll; */
    height: 748px;
    overflow-y: hidden;
    width: 71%;
    margin: auto;
    margin-top: 104px;
    margin-bottom: 500px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #39333326;
    margin: auto;
    padding: 11px;
    border: 1px solid #888;
    width: 75%;
    height: 644px;
    opacity: 0.96;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: -3px 7px 32px -12px;
}

/* The Close Button */
.close {
    color: #706464;
    float: right;
    font-size: 43px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: -13px;
}
.result-div {
    background-color: #808080;
    overflow-y: scroll;
    margin: auto;
    width: 100%;
    border: 2px solid #909090;
    border-radius: 13px;
    height: 595px;
    margin-top: 43px;
    box-sizing: border-box;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.display-cars {
    margin: auto;
    margin-top: 79px;
    height: 652px;
    width: 93%;
    display: flex;
    border-radius: 9px;
    justify-content: space-around;

}
.image-data {
    width: 103%;
    height: 592px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 80px;
    border-top-left-radius: 26px;
    box-shadow: 0px 1px 14px -2px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 42px;
}
.image-div {
    height: 362px;
    width: 43%;
    padding-top: 18px;
    /* border: 2px solid white; */
    padding-left: 14px;
    
}
.car-prop-div {
    height: 343px;
    width: 48%;
    /* margin: auto; */
    padding-left: 20px;
    color: black; 
    margin-top: 0px;
    padding-top: 20px;
    padding-right: 20px;
}
.model {
    font-size: 49px; 
}
.version {
    font-size: 30px; 
    margin-bottom: 20px; 
}
.car-description {
    font-size: 14px; 

}
.button-div {
    margin-top: 30px; 
}
.view-car {
    height: 47px;
    width: 155px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: white;
}
.delete-car {
    height: 47px;
    width: 185px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #952c2c;
    color: white;
}




























@media (max-width: 480px) {

    .main-div {
        margin-top: 116px; 
       
        width: 84%;
        font-size: 21px;
        margin-left: 41px;
        margin-bottom: 26px;
    
    }
    .sticky {
        width: 89%;
    }
    .welcome-para {
        margin: auto;
        width: 79%;
        /* margin-top: 181px; */
        font-size: 21px;
        margin-left: 41px;
        margin-bottom: 26px;
    }
    .insert-car {
        border: none;
        width: 90%;
        padding-top: 29px;
        padding-left: 19px;
        padding-bottom: 90px;
        padding-right: -38px;
        margin-bottom: 500px;
    }
    .form-label {
        font-size: 16px;
    }
    .username {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        height: 29px;
        outline: none;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 30px;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .two {
        margin-left: 39px;
        width: 100%;
    }
    .email-value {
        display: block;
        margin-bottom: 30px;
        width: 77%;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        height: 30px;
        outline: none;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .date, .car-name, .car-model, .version-number,
    .car-price {
        display: block;
        width: 86%;
        margin-bottom: 30px;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        height: 29px;
        outline: none;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .car-description {
        height: 260px;
        padding-left: 13px;
        padding-top: 30px;
        width: 96%;
        font-size: 14px;
        padding-bottom: 280px;
    }
    .result-div {
        background-color: #e1e1e1;
        height: 519px;
        margin: auto;
        width: 100%;
        border-radius: 12px;
        height: 535px;
        margin-top: 2px;
        box-sizing: border-box;
        border: 2px solid #d2d5d2;
    }
    .car-prop-div {
        height: 343px;
        width: 85%;
        /* margin: auto; */
        padding-left: 20px;
        color: black;
        margin-top: 0px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .button-div {
        margin-top: 30px; 
    }
    .view-car {
        height: 41px;
        width: 185px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #3c3c3c;
        color: white;
        font-size: 12px;
    }
    .delete-car {
        height: 39px;
        width: 185px;
        margin-top: 11px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #952c2c;
        color: white;
        font-size: 12px;
    }
























    .main-nav {
        font-size: 12px; 
        height: 111px;
        padding-left: 26px;
        padding-bottom: 29px;  
    }
    .search-value {
        width: 123px; 
        height: 31px;
        margin-top: 20px;
        margin-bottom: 9px;  
    }
    .left-nav {
        padding-top: 0px; 
        line-height: 37px;
    }
    .right-nav {
        margin-left: 6px; 
        margin-top: 12px; 
    }
    .home, .about, .services, .accessories, 
    .cars, .signin, .signout, .signup {
        font-weight: bold;
        padding-left: 5px;
        padding-right: 4px;
        padding-top: 30px;
        padding-bottom: 28px;
    }
    .home:hover, 
    .about:hover, 
    .services:hover, 
    .accessories:hover {
        background-color: #393131;
        color: #ffffff;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 4px;
        padding-top: 10px;
        padding-bottom: 11px;
        border-bottom: 4px solid black;
    }
    .cars {
        padding-left: 6px;
        padding-right: 58px;
    }
    .cars:hover {
        background-color: #393131;
        color: #ffffff;
        font-weight: bold;
        padding-left: 6px;
        padding-right: 58px; 
        padding-top: 10px;
        padding-bottom: 11px;
        border-bottom: 4px solid black;
    }
    .search-car {
        width: 71px; 
        height: 33px;
        margin-left: -1px; 
        font-size: 8px; 
    }
    .f-div {
        padding-top: 70px;
        display: grid;
        height: 2637px;
        margin: auto;
        width: 255%;
        justify-content: center;
        /* border: 2px solid black; */
    }
    .para-div {
        padding-top: 370px;
        width: 35%;
        padding-left: 13px;
        padding-right: 16px;
        margin-bottom: 1582px;
        font-size: 12px;
        transition-property: color, width, font-size;
        transition-duration: 2s, 3s;
    }
    .overview {
        font-size: 18px;
    }
    .image-div {
        height: 547px;
        margin-top: -2505px;
        width: 3%;
        /* border: 2px solid blue; */
    }
    .cars-image {
        height: 271px;
        margin-left: 12px;
        width: 330px;
        margin-bottom: 0px;
    }
    .join-our-team {
        width: 174px;
        height: 40px;
        font-size: 12px; 
        margin-top: 50px; 
    }
    .view-our-history {
        height: 40px;
        width: 172px; 
        font-size: 12px; 
        margin-top: 13px; 
    }
    .s-div {
        height: 1703px;
        margin-top: -1635px;
        width: 100%;
        margin-bottom: 0px;
        margin-left: -1px; 
    }
    .s-s-div {
        display: grid; 
        margin: auto; 
        width: 94%; 
        justify-content: center;
    }
    .image2-div {
        height: 755px; 
        width: 37%; 
        margin-left: -9px;
    }
    /* .cars2-size {
        height: 272px;
        width: 327px;
        border-radius: 6px;
        margin-bottom: 24px;
        padding-left: 0px;
        margin-top: 50px;
        margin-left: 14px;
        box-shadow: 1px 0px 23px 2px;
    } */
    .cars2-size {
        height: 272px;
        width: 50px;
        border-radius: 6px;
        margin-bottom: 24px;
        padding-left: 0px;
        margin-top: 50px;
        margin-left: 8px;
        box-shadow: 1px 0px 4px 2px;
        color: #f1a61d3d; 
        transition-property: width, font-size, box-shadow;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 2s, 3s;
    }
    .cars2-size:hover, 
    .cars2-size:focus {
        width: 327px;
        box-shadow: 1px 0px 23px 2px;

    }
    .para2-div {
        width: 100%; 
    }
    .para2-para-div-1 {
        padding-top: 0px;
        margin-left: 5px;
        width: 335px;
    }
    .overview-para {
        font-size: 18px; 
    }
    .para2-para-div-1 {
        padding-top: 0px;
        margin-left: 5px;
        width: 335px;
    }
    .para2-para-div-2 {
        padding-top: 49px; 
        width: 324px; 
        margin-left: 10px; 
    }
    .t-div {
        height: 452px;
        margin-bottom: 549px;
    }
    .img3-div {
        height: 626px;
    }
    .img-3 {
        width: 100%;
        height: 500px;
    }
    .para3-div {
        height: 350px;
        padding-top: 25px; 
        padding-left: 19px; 
        padding-right: 10px;
        margin-left: -2px;
        width: 93%;   
    }
    .car-sale {
        font-size: 13px; 
    
    }
    .footer {
        height: 1826px;
        padding-top: 11px;
        display: grid;
        justify-content: space-around;
        line-height: 52px;
        font-size: 15px;
        border: 22px solid #413b3b;
        width: 89%;
        align-items: end;
    }
    .first-footer {
        height: 289px; 
    }
    .second-footer {
        height: 461px;
    }
    .fourth-footer {
        margin-top: 35px; 
    }
    .modal {
        width: 39%;
        padding-top: 200px; 
        height: 100%;
    }
    .modal-content {
        width: 85%;
        height: 957px;
        margin-top: 20px; 
        border-radius: 16px; 
    }
    .close {
        color: #706464;
        float: right;
        font-size: 43px;
        font-weight: bold;
        margin-right: 11px;
        margin-top: -6px;
    }
    .result-div {
        background-color: #e1e1e1;
        height: 519px;
        margin: auto;
        width: 100%;
        border-radius: 12px;
        height: 535px;
        margin-top: 2px;
        box-sizing: border-box;
        border: 2px solid #d2d5d2;
    }


}